<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>520665729634-eike9avthnviolq2qvrb7gncgkjejhhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520665729634-eike9avthnviolq2qvrb7gncgkjejhhd</string>
	<key>API_KEY</key>
	<string>AIzaSyC0SrP5m9sSmaoflV4w6LbUZy2Xho0JxT4</string>
	<key>GCM_SENDER_ID</key>
	<string>520665729634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ustesports.SportsClub</string>
	<key>PROJECT_ID</key>
	<string>sports-club-02092018</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-club-02092018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520665729634:ios:bd70ea1acab5442b</string>
	<key>DATABASE_URL</key>
	<string>https://sports-club-02092018.firebaseio.com</string>
</dict>
</plist>